*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --card-width-mob: 328px;
    --card-inner-mob: 280px;
}

.tariffs {
    width: 100%;
    max-width: 1156px;
    margin: 0 auto;
    padding: 40px 0;
}

.tariffs__title {
    font-family: 'Inter', sans-serif;
    font-size: 48px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 40px;
}

.tariffs__desc {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 17px;
    line-height: 140%;
    color: rgba(78, 93, 124, 0.5);
    text-align: center;
    width: 920px;
    max-width: 100%;
    margin: 0 auto 40px;
}

.tariffs__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}

.tariff-card {
    min-width: 0;
    box-sizing: border-box;
    border-radius: 8px;
    background: transparent;
    display: flex;
    align-items: stretch;
    transition: background 0.2s, box-shadow 0.2s;
    min-height: 507px;
}

.tariff-card:hover {
    box-shadow: 0 4px 24px #8d97bf22;
    background: #f1f0ff;
    cursor: pointer;
}

.tariff-card--third {
    background: #357efe;
}

.tariff-card__inner {
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    height: 100%;
    background: #fff;
    border-radius: 16px;
    margin: 48px 40px;
    box-shadow: 0 2px 12px #0001;
}

.tariff-card--first .tariff-card__inner {
    margin: 93px 40px 48px 40px;
    height: calc(100% - 93px - 48px);
}

.tariff-card--second .tariff-card__inner,
.tariff-card--third .tariff-card__inner {
    height: calc(100% - 48px - 48px);
}

.tariff-card--third .tariff-card__inner {
    background: #357efe;
}

.tariff-card__top {
    display: grid;
    gap: 16px;
    margin-bottom: 50px;
    position: relative;
}

.tariff-card--second .tariff-card__top,
.tariff-card--third .tariff-card__top {
    padding-top: 45px;
}

.tariff-card--third .tariff-card__top {
    margin-bottom: 32px;
}

.tariff-card__title {
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    font-weight: 800;
    line-height: 120%;
    margin: 0;
    white-space: nowrap;
    color: #000;
}

.tariff-card--third .tariff-card__title {
    color: #fff;
}

.tariff-card__text {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 17px;
    line-height: 140%;
    color: rgba(78, 93, 124, 0.5);
    margin: 0;
}

.tariff-card--third .tariff-card__text {
    color: rgba(255, 255, 255, 0.7);
}

.tariff-card__middle {
    display: grid;
    gap: 24.6px;
    margin-bottom: 34px;
}

.tariff-card--first .tariff-card__middle {
    gap: 33px;
    margin-bottom: 40px;
}

.tariff-card__cost-label,
.tariff-card__profit-label,
.tariff-card__per-month-label,
.tariff-card__cost-value,
.tariff-card__per-month-value,
.tariff-card__profit-value {
    font-family: 'Inter', sans-serif;
    font-size: 17px;
    font-weight: 500;
    line-height: 120%;
    color: #4E5D7C;
}

.tariff-card__cost-value,
.tariff-card__per-month-value {
    white-space: nowrap;
    text-align: right;
}

.tariff-card__cost,
.tariff-card__profit,
.tariff-card__per-month {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
}

.tariff-card__cost,
.tariff-card__per-month {
    grid-template-columns: 160px 62px;
    column-gap: 28px;
}

.tariff-card--third .tariff-card__cost {
    grid-template-columns: 160px 70px;
    column-gap: 40px;
}

.tariff-card--third .tariff-card__per-month {
    grid-template-columns: 168.58px 88px;
    column-gap: 31.61px;
}

.tariff-card--second .tariff-card__profit,
.tariff-card--third .tariff-card__profit {
    display: grid;
    grid-template-columns: 116.23px 1fr;
    align-items: center;
}

.tariff-card--third .tariff-card__cost-label,
.tariff-card--third .tariff-card__cost-value,
.tariff-card--third .tariff-card__profit-label,
.tariff-card--third .tariff-card__per-month-label,
.tariff-card--third .tariff-card__per-month-value {
    color: #fff;
}

.tariff-card__badge {
    position: absolute;
    top: 0;
    left: 0;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    line-height: 140%;
    font-weight: 500;
    color: #fff;
    background: #1ABC9C;
    border-radius: 8px;
    padding: 4px 16px;
    display: flex;
    align-items: center;
    height: 29px;
    letter-spacing: 0;
}

.tariff-card__badge span {
    font-weight: 800;
    font-size: 15px;
    margin-left: 2px;
}

.tariff-card__badge-profit {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    padding: 8px 16px;
    background: #FFC736;
    border-radius: 8px;
    font-family: 'Inter', sans-serif;
    font-size: 17px;
    font-weight: 700;
    line-height: 120%;
    color: #fff;
    white-space: nowrap;
    justify-self: end;
    box-sizing: border-box;
}

.tariff-card--second .tariff-card__badge-profit {
    min-width: 67px;
    margin-right: 19px;
}

.tariff-card--third .tariff-card__badge-profit {
    min-width: 75px;
}

.tariff-card__bottom {
    margin-top: auto;
}

.tariff-card__btn {
    width: 100%;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-size: 17px;
    line-height: 140%;
    letter-spacing: 0;
    background: #357EFE;
    color: #fff;
    border-radius: 47px;
    border: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.tariff-card--third .tariff-card__btn {
    background: #fff;
    color: #357EFE;
}

@media (max-width: 400px) {
    .tariffs {
    width: 100vw;
    padding: 16px 0;
    margin: 0 auto;
    }
   
    .tariffs__title {
    font-size: 36px;
    margin-bottom: 24px;
    text-align: left;
    max-width: 328px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    }
    
    .tariffs__desc {
    font-size: 17px;
    max-width: 328px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    margin-bottom: 32px;
    }

    .tariffs__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    width: 100%;
    }

    .tariff-card {
    width: var(--card-width-mob);
    min-width: 0;
    border-radius: 12px;
    min-height: unset;
    margin: 0;
    box-shadow: none;
    }

    .tariff-card__inner {
    width: var(--card-inner-mob);
    margin: 48px auto 48px auto;
    border-radius: 12px;
    box-shadow: none;
    padding: 0;
    }

    .tariff-card__top {
    margin-bottom: 32px;
    gap: 16px;
    position: relative;
    width: 280px;
    }

    .tariff-card__badge {
    font-size: 14px;
    height: 29px;
    padding: 4px 16px;
    top: 0;
    left: 0;
    border-radius: 8px;
    z-index: 1;
    }

    .tariff-card__title {
    font-size: 32px;
    font-weight: 800;
    color: #000;
    margin: 0;
    }

    .tariff-card__text {
    font-size: 17px;
    color: rgba(78, 93, 124, 0.5);
    margin: 0;
    }

    .tariff-card__middle {
    display: grid;
    gap: 25px;
    margin-bottom: 32px;
    width: 280px;
    }

    .tariff-card__cost,
    .tariff-card__profit,
    .tariff-card__per-month {
    display: grid;
    align-items: center;
    }

    .tariff-card__cost-label,
    .tariff-card__per-month-label {
    font-size: 17px;
    width: 170px;
    white-space: normal;
    }

    .tariff-card__cost-value,
    .tariff-card__profit-value,
    .tariff-card__per-month-value {
    font-size: 17px;
    text-align: right;
    min-width: 45px;
    }
    
    .tariff-card__bottom {
    margin-top: 0;
    width: 280px;
    }
    
    .tariff-card__btn {
    width: var(--card-inner-mob);
    height: 48px;
    border-radius: 47px;
    font-size: 17px;
    padding: 12px 0;
    background: #357EFE;
    color: #fff;
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    }

    .tariff-card--first .tariff-card__inner {
    margin: 48px 24px 48px 24px;
    }

    .tariff-card--first .tariff-card__middle {
    margin-bottom: 32px;
    }
    
    .tariff-card--first .tariff-card__cost {
    grid-template-columns: 160px 62px;
    column-gap: 28px;
    }
    
    .tariff-card--first .tariff-card__profit {
    grid-template-columns: 116.23px 28px;
    column-gap: 72px;
    }
    
    .tariff-card--first .tariff-card__profit-label {
    width: 116.23px;
    }
    
    .tariff-card--first .tariff-card__profit-value {
    width: 28px;
    min-width: 0;
    max-width: 28px;
    }
    
    .tariff-card--first .tariff-card__per-month {
    grid-template-columns: 170px 100px;
    column-gap: 11.42px;
    }
    
    .tariff-card--second .tariff-card__middle {
    gap: 25px;               
    }
    
    .tariff-card--second .tariff-card__cost {
    grid-template-columns: 160.21px 65px;
    column-gap: 18.99px;
    }
    
    .tariff-card--second .tariff-card__cost-label {
    width: 160.21px;
    }

    .tariff-card--second .tariff-card__profit {
    grid-template-columns: 116.23px 99px;
    column-gap: 46.77px;
    }
    
    .tariff-card--second .tariff-card__profit-label {
    width: 116.23px;
    }
    
    .tariff-card--second .tariff-card__badge-profit {
    margin-right: 0;
    width: 99px;
    min-width: 0;
    max-width: 99px;
    }
    
    .tariff-card--second .tariff-card__per-month {
    grid-template-columns: 168.58px 101px;
    column-gap: 10.61px;
    }

    .tariff-card--second .tariff-card__per-month-label {
    width: 168.58px;
    }
    
    .tariff-card--third .tariff-card__cost {
    grid-template-columns: 160.21px 70px;
    column-gap: 28.99px;
    }
    
    .tariff-card--third .tariff-card__cost-label {
    width: 160.21px;
    }
    
    .tariff-card--third .tariff-card__profit {
    grid-template-columns: 116.23px 107px;
    column-gap: 56.77px;
        }
    
    .tariff-card--third .tariff-card__profit-label {
    width: 116.23px;
    }

    .tariff-card--third .tariff-card__badge-profit {
    margin-right: 0;
    width: 107px;
    }

    .tariff-card--third .tariff-card__per-month {
    grid-template-columns: 168.58px 88px;
    column-gap: 20.61px;
    }
    
    .tariff-card--third .tariff-card__per-month-label {
    width: 168.58px;
    }        
}